.countdown {
    width: 100%;
    height: 5em;
    position: relative;

    meter {
        width: inherit;
        height: inherit;
        position: absolute;

        overflow: hidden;
        border-radius: 6px;
    }

    time {
        width: inherit;
        height: inherit;
        position: absolute;

        font-size: 5em;
        text-align: center;
        line-height: 1.075em;
        font-family: forque;
    }
}
