@font-face {
    font-family: "open-sans";
    src: url("assets/fonts/open-sans.ttf") format("truetype");
}

@font-face {
    font-family: "forque";
    src: url("assets/fonts/forque.ttf") format("truetype");
}
