.Shop {
    top: 0em;
    right: 0em;
    position: absolute;

    font-family: comfortaa;
    font-size: 0.5em;
    color: white;
    padding: 5em;

    h2 {
        margin-bottom: 0.5em;
        color: #AAA;
    }

    li {
        margin-bottom: 0.25em;

        &:hover {
            cursor: pointer;
            color: red;
            text-decoration: underline;
        }
    }
}
