* {
    margin: 0px;
    padding: 0px;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    background-color: #111;
}

#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    overflow: hidden;
    font-size: 9px;
}

@media(min-aspect-ratio: 16/9) {
    #frame {
        font-size: 11.111vh;
        font-size: 5.555vh;
        width: 177.778vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 16/9) {
    #frame {
        font-size: 6.25vw;
        font-size: 3.125vw;
        height: 56.25vw;
        width: 100vw;
    }
}

#frame {
    background-color: #444;
}

@font-face {
    font-family: "comfortaa";
    src: url("../fonts/comfortaa.ttf") format("truetype");
}

.Farm {
    bottom: 0em;
    padding: 1em;
    width: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: space-between;
    background-color: #888;

    .FarmPatch {
        width: 4em;
        height: 2em;
        background-color: #222;

        &.canInteract:hover {
            cursor: pointer;
            background-color: #333;
        }

        &:not(:last-child) {
            margin-right: 1em;
        }

        label {
            display: block;
            font-size: 0.75em;
            line-height: 1.3em;
            font-family: comfortaa;
            color: #EEE;

            &.isHarvestable {
                transform: rotate(-90deg);
                font-size: 1.5em;
                padding-left: 1em;
            }

            &.isEmpty {
                color: #AAA;
                font-size: 0.75em;
            }
        }
    }
}

#game {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
    overflow-x: scroll;
}

.Shop {
    top: 0em;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 100%;

    font-family: comfortaa;
    color: white;
    padding: 5em;

    h2 {
        margin-bottom: 0.5em;
        color: #AAA;
    }

    li {
        margin-bottom: 0.25em;

        &:hover {
            cursor: pointer;
            color: red;
            text-decoration: underline;
        }
    }
}
