* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #111;
    font-family: monospace;
    background-color: #FFF;

    padding: 2em;
}

button {
    padding: 0.5em;
    font: inherit;
    cursor: pointer;
}

section:not(:last-child) {
    margin-bottom: 2rem;
}

#timer {
    padding: 0.5em;
    line-height: 1em;
    vertical-align: top;
    border: 1px solid #111;
    display: inline-block;
}
