* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #111;
    font-family: monospace;
    background-color: #FFF;

    padding: 2em;
}

button {
    padding: 1em;
    font: inherit;
    cursor: pointer;
}
